# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
kagglehub
pandas
pyarrow<24
azure-storage-blob
apache-airflow-providers-microsoft-azure
dbt-core
dbt-snowflake